.header h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}
h3{
    font-size: 15px;
    font-weight: 500;
}
table{
    font-family: arial, sans-serif;
    background-color: grey;
    border-collapse: collapse;
    width: 100%;

}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    
    }

